<form name="contactForm" method="POST" netlify-honeypot="bot-field" data-netlify="true" id="contact-form"
  class="contact-form">
  <p class="screen-reader-text">
    <label>Don't fill this out if you're human: <input name="bot-field" /></label>
  </p>
  <p class="form-row">
    <label class="form-label" for="contact-user-name">Name</label>
    <input type="text" name="name" id="contact-user-name" class="form-input" placeholder="Enter your name">
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <p class="form-row">
    <label class="form-label" for="contact-user-email">Email</label>
    <input type="email" name="email" id="contact-user-email" class="form-input" placeholder="Enter your email address">
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <p class="form-row">
    <label class="form-label" for="contact-message">Message</label>
    <textarea name="message" id="contact-message" class="form-textarea" rows="5" placeholder="Enter your message"></textarea>
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <input type="hidden" name="form-name" value="contactForm" />
  <p class="form-row form-submit">
    <button type="submit" class="button">Send Message</button>
  </p>
</form><!-- .contact-form -->
