<header id="masthead" class="site-header outer">
  <div class="inner">
    <div class="site-header-inside">
      <div class="site-branding">
        {{ if .Site.Params.header.logo_img }}
        <p class="site-logo">
          <a href="{{ "/" | relURL }}">
            <img src="{{ .Site.Params.header.logo_img | relURL }}" alt="Logo" />
          </a>
        </p><!-- .site-logo -->
        {{ end }}
        {{ if or (eq .Params.layout "home") (eq .Params.layout "blog") }}
        <h1 class="site-title"><a href='{{ "/" | relURL }}'>{{ .Site.Params.header.title }}</a></h1>
        {{ else }}
        <p class="site-title"><a href='{{ "/" | relURL }}'>{{ .Site.Params.header.title }}</a></p>
        {{ end }}
      </div><!-- .site-branding -->
      {{ if and .Site.Menus.main .Site.Params.header.has_nav }}
      <nav id="main-navigation" class="site-navigation" aria-label="Main Navigation">
        <div class="site-nav-inside">
          <button id="menu-close" class="menu-toggle"><span class="screen-reader-text">Open Menu</span><span class="icon-close" aria-hidden="true"></span></button>
          <ul class="menu">
            {{ range $item := .Site.Menus.main }}
            <li class="menu-item {{ if eq $.URL $item.URL }} current-menu-item{{ end }}">
              <a href="{{ $item.URL | relURL }}">{{ $item.Name }}</a>
            </li>
            {{ end }}
          </ul><!-- .menu -->
        </div><!-- .site-nav-inside -->
      </nav><!-- .site-navigation -->
      <button id="menu-open" class="menu-toggle"><span class="screen-reader-text">Close Menu</span><span class="icon-menu" aria-hidden="true"></span></button>
      {{ end }}
    </div><!-- .site-header-inside -->
  </div><!-- .inner -->
</header><!-- .site-header -->
